
Saved/Logs/Graham.log
Saved/Logs/Graham-backup-2018.11.24-11.24.28.log
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UE4CC-Windows-0C09408F40ABCAD279B0138B7DEF3D6F/CrashReportClient.ini
Intermediate/CachedAssetRegistry.bin
\Config
\Saved\Config
